.waf*
*~
.lock-wscript
*.in
aclocal.m4
autom4te.cache
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
Makefile
config.log
config.status
libtool
modbus.pc
.deps
.libs
*.la
*.lo
*.o
tests
